In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1,ser2],axis=0)
df  = pd.DataFrame({'col1':ser1,'col2':ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [64]:
import numpy as np
import pandas as pd

df =pd.read_csv('/content/sample_data/Salaries.csv')
#df.info()
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [65]:
# What is the average BasePay ?**
average_basepay = df['BasePay'].mean()
print(average_basepay)
# ** What is the highest amount of OvertimePay in the dataset ? **
highest_overtimepay = df['OvertimePay'].max()
print(highest_overtimepay)

66325.4488404877
245131.88

In [66]:
#What is the job title of  JOSEPH DRISCOLL ?
#Note: Use all caps, otherwise you may get an answer that doesn't match up
 # (there is also a lowercase Joseph Driscoll). **

print(df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle'])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [67]:
# How much does JOSEPH DRISCOLL make (including benefits)? **
print(df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [82]:
# What is the name of highest paid person (including benefits)?**
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]
#df.loc[df['TotalPayBenefits'].idxmax()]
#df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [69]:
# What is the name of lowest paid person (including benefits)?
 # Do you notice something strange about how much he or she is paid?**
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]
#df.loc[df['TotalPayBenefits'].idxmin()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [84]:
#What was the average (mean) BasePay of all employees per year? (2011-2014) ? **
df.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [87]:
# How many unique job titles are there? **
df['JobTitle'].nunique()

#** What are the top 5 most common jobs? **
df['JobTitle'].value_counts().head(5)

#** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **
sum(df[df['Year']==2013]['JobTitle'].value_counts()==1)

# ** How many people have the word Chief in their job title? (This is pretty tricky) **
#sal[sal["JobTitle"].apply(lambda x : "chief" in x.lower())]["JobTitle"].count()
import re
jobtitles = list(df['JobTitle'])
count = 0

for job in jobtitles:
    re.search('chief*', job.lower())
    count += 1

print(count)

def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

sum(df['JobTitle'].apply(lambda x: chief_string(x)))

148654

477

In [89]:
# Bonus: Is there a correlation between length of the Job Title string and Salary? **
df['title_len'] = df['JobTitle'].apply(len)

df[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

Ecommerce Purchases Exercise

In [90]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/sample_data/Ecommerce Purchases')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [95]:
#** How many rows and columns are there? **
df.info()
df['Purchase Price'].mean()
df['Purchase Price'].max()
df['Purchase Price'].min()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

0.0

In [130]:
#** How many people have English 'en' as their Language of choice on the website? **
df[df['Language']=='en'].count()

1098

In [102]:
# How many people have the job title of "Lawyer" ? **
df[df['Job']=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [103]:
#** How many people made the purchase during the AM and how many people made the purchase during PM ? **
#hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **
df['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [104]:
#** What are the 5 most common Job Titles? **
df['Job'].value_counts().head(5)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

In [107]:
#** Someone made a purchase that came from
# Lot: "90 WT" , what was the Purchase Price for this transaction? **
df[df['Lot']=="90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [114]:
# What is the email of the person with the following Credit Card Number: 4926535242672853 **
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [122]:
#How many people have American Express as their Credit Card Provider
# *and* made a purchase above $95 ?**
df[(df['CC Provider']=='American Express') & (df['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [131]:
#** Hard: How many people have a credit card that expires in 2025? **

df[df['CC Exp Date'].apply(lambda exp: exp[3:]=='25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

In [134]:
# What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
df['Email'].apply(lambda email:email.split('@')[1]).value_counts()

Email
hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: count, Length: 3416, dtype: int64